# Exercise in Photogrammetry I
## **Ex.1 : Essential Python Programming**
### Hand out: xx.xx.xxxx
### Submission: xx.xx.xxxx
### Points: 23

## A. Python Varialbes

A variable is a container for a value, which can be of various types, e.g., int, float and str.

## A1 

**Task**: Define two variables $x$ and $y$ and compute their divsion and sum. Let $x$ be equal to 10 and $y=3$. **Print out** the **type** of $x$, $y$, $\frac{x}{y}$ and $x+y$ as well as the **result** of their divsion and sum. (2 Points)

In [1]:
# Define the variables in this cell
x , y = 10 , 3

In [2]:
# Compute the divsion of both variables
division = x/y

In [3]:
# Compute the sum of both variables
sum = x+y

In [4]:
# Print out the data types in this cell
print(f"Data Type of x: {type(x)}, y: {type(y)}, Division: {type(division)}, sum: {type(sum)}")

Data Type of x: <class 'int'>, y: <class 'int'>, Division: <class 'float'>, sum: <class 'int'>

In [5]:
# Print out the result of the divison and sum in this cell
print(f"Result of division: {division}, Result of sum: {sum}")

Result of division: 3.3333333333333335, Result of sum: 13

## B. Python Lists, Tuples and Dictionaries

A List is a collection which is *ordered* and *changeable*. It allows for *duplicate members*.

A Tuple is a collection which is *ordered* and *unchangeable*. It allows for *duplicate members*.

A Dictionary is a collection which is *unordered*, *changeable* and *indexed*. *No duplicate* keys allowed

### B1

**Task**: Create a list which contains the values 1 to 9. **Print out** the **length** of the list and compute the **sum** of the first and last entry by using *indexing*. (3 Points)

In [6]:
# Create your list here
lis = [i for i in range(1,10)]

In [7]:
# Compute the length of the list
length = len(lis)

In [8]:
# Compute the sum of the first and last entry by using indexing.
sum_firs_last = lis[0] + lis [-1]

In [9]:
# Print out the length of the list this cell
print(f"The lenght of the list is: {length}")

The lenght of the list is: 9

In [10]:
# Print out the sum of first and last entry in this cell
print(f"The sum of the first and the last entry is: {sum_firs_last}")

The sum of the first and the last entry is: 10

**Task**: Set the first entry of this list to 100 and append the value of 99 to the list. Again **print out** the **length** of this the and compute the **sum** of the first and last entry by using *indexing*. (2 Points)

In [11]:
# Modify the elements of your list in this cell
lis[0] = 100 # This will replace the first element of the list with the value 50.
lis.append(99)  # This will add the value 49 to the end of the list.

In [12]:
# Compute the length of the list
new_len = len(lis)

In [13]:
# # Compute the sum of the first and last entry by using indexing.
new_sum = lis[0] + lis[-1]

In [14]:
# Print out the length of the list this cell
print(f"The lenth of the modified list is: {new_len}")

The lenth of the modified list is: 10

In [15]:
# Print out the sum of first and last entry in this cell
print(f"The sum of the first and the last elemnt after modification is: {new_sum}")

The sum of the first and the last elemnt after modification is: 199

### B2

**Task**: Create a tuple which contains the same values as the previously defined list. Try to change the second element of this tuple to 77 and run the script <br /> (*Cell* > *Run All*). Describe which error occurs and why. Make sure to comment this line of code afterwards otherwise cells below will not be executed! 
(2 Points)

In [16]:
# Create the tuple in this cell
tup = tuple(lis)
print(tup)

(100, 2, 3, 4, 5, 6, 7, 8, 9, 99)

In [17]:
# Try to change the 2nd element of this tuple
tuple[1]= 77
# First execute the code (Cell > Run All) and inspect the error.
# Afterwards make sure to comment all code within this cell - otherwise cells below will not be executed!

TypeError: ignored

Write your **answer** about which error occurs and why **here**:>>>
**'type' object does not support item assignment>>>  Tuples are immutable objects, which means that once you create a tuple, you cannot modify its contents.**

### B3

**Task**: Create a dictionary which contains the following key-value pairs: *City* - *Bonn*, *Street* - *Nussallee*, *HouseNumber* - 15.<br /> Get the value of *HouseNumber* and **print it out**. (3 Points)

In [18]:
# Create the dictionary here
dictionary = {"City":"Bonn", "Street":"Nussallee", "HouseNumber":"15"}

In [19]:
# Get the value of 'HouseNumber' and print it in this cell
HouseNumber = dictionary.get("HouseNumber")
print(HouseNumber)

15

**Task**: Add the key-value pair *LectureRoom* : *14* to this dictionary. Finally **print out** all **keys** and **values** of this dictionary. (2 Points)

In [20]:
# Add key-value pair
dictionary["LectureRoom"] = "14"

In [21]:
# Print out all keys of the dict
print(dictionary.keys())

dict_keys(['City', 'Street', 'HouseNumber', 'LectureRoom'])

In [22]:
# Print out all values of the dict
print(dictionary.values())

dict_values(['Bonn', 'Nussallee', '15', '14'])

## C. Python Conditionals and Loops

**Task**: You are given a list which contains multiple lists itself which we assign to the variable called *nested_list*.<br>
**Print out** the length of *nested_list* and write a *for loop* which **prints** the **length** of each individual list within the *nested_list* (3 Points)

**Hint**

In [23]:
# Python is picky with tabs! All code you want to run within a loop or condition needs to be indented by 4 spaces.
# In case the loop or condition in nested within another loop or condition it needs to be indented by 
# 8 spaces and so on.

# Example
for i in range(1):
    print(i)             # -> 4 spaces before the print statement
    for j in range(1):   # -> 4 spaces before for begins
        print(j)         # -> 8 spaces before the print statement

0
0

In [24]:
# You are a given a nested list
nested_list = [[1,2,3,0],
               [4,5,0,6, 5],
               [7,0,9,0,10, -10]]

In [25]:
# Print out the length of nested_list in this cell
nested_list_len = (len(nested_list))
print(nested_list_len)

3

In [27]:
# Write the code to print the length of each individual list within the nested_list in this cell by using a loop
for i in range(nested_list_len):
     print(len(nested_list[i]))

4
5
6

**Task**: Sum up all entries in the nested list by using nested *for loops*. If a entry is equal to zero **print** the string *'Found zero element**. Finally **print out** the result of the **sum**. (3 Points)

In [28]:
# Write the code to sum up all entries in nested_list in this cell
summation = 0 

for i in range (nested_list_len):
  for m in range(len(nested_list[i])):
    summation += nested_list[i][m]

In [29]:
# Print out the result of the sum in this cell
print(f"The result of the summation is: {summation}")

The result of the summation is: 42

## D. Python Functions

**Task**: Write a function called *sum_nested_list* which takes as input parameter a nested list and returns the sum of all entries (2 Points)

In [30]:
# Define your Function in this cell
def sum_nested_list(nested_list):
    summation = 0
    for i in range(len(nested_list)):
        for m in range(len(nested_list[i])):
            summation += nested_list[i][m]
    return summation

**Task**: Pass the given variable *another_nested_list* to your function and **print out** the **result** (1 Point)

In [31]:
# Given variable another_nested_list 
another_nested_list = [[22, -22, 33], [-33, 44, 55], [-55, -44, 1, -2]]

In [32]:
# Call your function here
sum_new_list = sum_nested_list(another_nested_list)

In [33]:
# Print out the sum of all entries here
print(sum_new_list)

-1